@font-face {
	font-family: "Sansation-Bold";
	font-style: normal;
	font-weight: 700;
	src: url('sansation.Bold.ttf') format('truetype');
}

.usp {
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.userprofile_container {
	display: flex;
	margin-left: 38px;
	margin-top: 50px;
	width: 330px;
}

.profile_container {
	display: flex;
	width: auto;
	gap: 20px;
}

.user_box {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 30px 20px 30px;
}

.user_image_and_name_wrapper {
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	padding: 0px;
	width: 330px;
	height: 580px;
	background-color: white;
	border-radius: 17px;
	box-shadow: 0 0 3px 3px #dad9d9;
}

.user_image {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.user_img {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 50%;
	width: 180px;
	height: 180px;
}

.user_image_and_name {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	margin-top: 40px;
	width: 220px;
	height: 220px;
	background-color: white;
	border-radius: 17px;
	box-shadow: 0 0 3px 3px #dad9d9;
}

.user_name {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	font-size: 20px;
	margin-top: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	text-align: center;
}

.button_wrapper {
	position: absolute;
	margin-top: 219px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.button_wrapper button {
	margin-bottom: 20px;
}

.button_wrapper button {
	font-family: "Sansation-Bold", sans-serif;
	font-size: 16px;
	padding: 15px 30px;
	width: 130%;
	border-radius: 10px;
	border: none;
	background-color: #ebebeb;
}

.btn:hover {
	background-color: #E1E1E1;
	color: black;
	cursor: pointer;
}

.btn.active {
	background-color: #5252c6;
	cursor: pointer;
	color: white;
}

.btn {
	color: #fff;
}


.btn4 {
	color: #686868;
}

.details_container {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 17px;
	box-shadow: 0 0 3px 3px #dad9d9;
	padding: 10px 30px 20px 30px;
	margin-top: 4%;
	width: 60%;

}

.cpd {
	padding: 10px 20px;
}

.cpd-content {
	margin-top: 5%;
}

.user-profile-box-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 11px;
	justify-content: space-between;

}

.user-profile-box-container-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 11px;
	justify-content: space-between;
}

.user-profile-box {
	width: 100%;
	height: 68px;
	flex-direction: column-reverse;
	border-radius: 13px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color: #F8F8F8;
	margin-bottom: 3%;
	padding: 10px 20px;
}


.user-profile-box-1 {
	width: 100%;
	height: 68px;
	flex-direction: column-reverse;
	border-radius: 13px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color: #F8F8F8;
	margin-bottom: 3%;
	padding: 10px 20px;
}

.user-profile-box-container-name p {
	font-weight: 600;
}


.user-pro-bc-edit-popup {
	text-align: left;
	font-size: 14px;
	color: #525252;
	text-decoration: underline;
	cursor: pointer;
	padding-top: 2.5px;
	width: 7%;
	font-weight: 600;
	border: none;
	background-color: transparent;
}


.security {
	display: flex;
	flex-direction: column;
	height: 455px;
	padding: 4% 2%;

}



.user-p-bc-name-c {
	text-align: left;
	width: 30%;
	margin-right: 90px;
}

.user-profile-box {
	width: 100%;
	height: 68px;
	flex-direction: column-reverse;
	border-radius: 13px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color: #F8F8F8;
	margin-bottom: 3%;
	padding: 10px 20px;
}

.user-p-security {
	display: flex;
	flex-direction: column;
	width: 870px;
	height: 455px;
	padding-top: 34px;
	padding-bottom: 40px;
	padding-left: 36px;
	padding-right: 60px;
	border-radius: 17px;
	box-shadow: 0 0 3px 3px #dad9d9;
	margin-left: 60px;
	margin-top: 10px;
}

.user-p-boxall {
	margin-top: 40px;
}

.user-p-password-box {
	width: 100%;
	height: 90px;
	border-radius: 13px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color: #F8F8F8;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.user-p-deleteacc-box {
	width: 100%;
	border-radius: 13px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color: #F8F8F8;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.user-p-activesession-box {
	width: 100%;
	height: 90px;
	border-radius: 13px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color: #F8F8F8;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.user-psecure-box-container {
	display: flex;
	flex-direction: row;
	padding-left: 25px;
	gap: 90px;
}

.user-psecure-box-containerp {
	padding-top: 20px;
	font-weight: 600;
	font-size: 16px;
	width: 114px;
}

.user-psecure-box-containerp-activesession {
	padding-top: 20px;
	font-weight: 600;
	font-size: 16px;
	width: 155px;
}

.user-psecure-box-containerp-deleteacc {
	padding-top: 20px;
	font-weight: 600;
	font-size: 16px;
	width: 322px;
}

.user-psecure-bc-passwordbc-name {
	padding-top: 14px;
	font-family: "Sansation-Bold", sans-serif;
	font-size: 15px;
	color: #727171;
}

.user-psecure-bc-password-btn {
	font-family: "Sansation-Bold", sans-serif;
	font-size: 14px;
	background-color: #36a5ff;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 12px;
	cursor: pointer;
	width: 128px;
	height: 34px;
}

.userp-secure-btn-container {
	margin-top: 30px;
	margin-right: 20px;
}

.user-psecure-bc-password-btn:hover {
	background-color: #0089f7;
}